{% extends "base.twig" %}

{% block title %}Главная страница{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="active">Главная страница</li>
        <li><a href="{{ path("stat") }}">Статистика</a></li>
    </ol>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="/assets/index.js"></script>
{% endblock %}
